html {
    scroll-behavior: smooth;

    /* scroll-padding-top: var(--scroll-padding, 4em); */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid green; */
}

body {
    font-family: 'Playfair Display', serif;
    color: var(--seconday-color);
    background-color: var(--bg-color);
}

:root {
    --primary-color-light: #5EB1BF;
    --seconday-color-light: #042A2B;
    --tertiary-color-light: #CDEDF6;
    --bg-color-light: #ffffff;
    --navslide-color-light: rgba(255, 255, 255, 0.39);
    --boxshadow-one-light: 2px 5px 15px rgba(0, 0, 0, 0.2);
    --boxshadow-two-light: 2px 5px 15px rgba(0, 0, 0, 0.4);
    --hero-image-light: url(./assets/logos-and-icons/hero-bg.jpg);
    --logo-image-light: url(./assets/logos-and-icons/omar-logo-dark.png);
    --footer-color-light: #5EB1BF;
    --button-color-light: #CDEDF6;

    --primary-color-dark: #5EB1BF;
    --seconday-color-dark: #c1dadb;
    --tertiary-color-dark: #CDEDF6;
    --bg-color-dark: #0d1426;
    --navslide-color-dark: rgba(20, 20, 20, 0.39);
    --boxshadow-one-dark: 2px 5px 15px rgba(56, 62, 69, 0.2);
    --boxshadow-two-dark: 2px 5px 15px rgba(0, 0, 0, 0.4);
    --hero-image-dark: url(./assets/logos-and-icons/hero-bg-dark.jpg);
    --logo-image-dark: url(./assets/logos-and-icons/omar-logo-white.png);
    --footer-color-dark: #172234;
    --button-color-dark: #042A2B;
}

@media(prefers-color-scheme: dark) {
    :root {
        --primary-color: var(--primary-color-dark);
        --seconday-color: var(--seconday-color-dark);
        --tertiary-color: var(--tertiary-color-dark);
        --bg-color: var(--bg-color-dark);
        --navslide-color: var(--navslide-color-dark);
        --boxshadow-one: var(--boxshadow-one-dark);
        --boxshadow-two: var(--boxshadow-two-dark);
        --hero-image: var(--hero-image-dark);
        --logo-image: var(--logo-image-dark);
        --footer-color: var(--footer-color-dark);
        --button-color: var(--button-color-dark);
    }
}

@media(prefers-color-scheme: light) {
    :root {
        --primary-color: var(--primary-color-light);
        --seconday-color: var(--seconday-color-light);
        --tertiary-color: var(--tertiary-color-light);
        --bg-color: var(--bg-color-light);
        --navslide-color: var(--navslide-color-light);
        --boxshadow-one: var(--boxshadow-one-light);
        --boxshadow-two: var(--boxshadow-two-light);
        --hero-image: var(--hero-image-light);
        --logo-image: var(--logo-image-light);
        --footer-color: var(--footer-color-light);
        --button-color: var(--button-color-light);
    }
}

[color-scheme="light"] {
        --primary-color: var(--primary-color-light);
        --seconday-color: var(--seconday-color-light);
        --tertiary-color: var(--tertiary-color-light);
        --bg-color: var(--bg-color-light);
        --navslide-color: var(--navslide-color-light);
        --boxshadow-one: var(--boxshadow-one-light);
        --boxshadow-two: var(--boxshadow-two-light);
        --hero-image: var(--hero-image-light);
        --logo-image: var(--logo-image-light);
        --footer-color: var(--footer-color-light);
        --button-color: var(--button-color-light);
}

[color-scheme="dark"] {
        --primary-color: var(--primary-color-dark);
        --seconday-color: var(--seconday-color-dark);
        --tertiary-color: var(--tertiary-color-dark);
        --bg-color: var(--bg-color-dark);
        --navslide-color: var(--navslide-color-dark);
        --boxshadow-one: var(--boxshadow-one-dark);
        --boxshadow-two: var(--boxshadow-two-dark);
        --hero-image: var(--hero-image-dark);
        --logo-image: var(--logo-image-dark);
        --footer-color: var(--footer-color-dark);
        --button-color: var(--button-color-dark);
}

nav {
    min-height: 8vh;
    width: 100%;
    padding: 0 1em;

    display: flex;
    justify-content: space-around;
    align-items: center;

    color: var(--seconday-color);

    z-index: 9;
    position: fixed;
}

.logo {
    height: 38px;
    width: 6rem;
    z-index: 10;
    background-image: var(--logo-image);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}


.nav-links {
    width: 50%;

    display: flex;
    justify-content: space-between;

    font-size: 1.3rem;
    z-index: 9;
}

.nav-links li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.nav-links li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: var(--seconday-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-links li:hover:after {
    color: var(--seconday-color);
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-links a {
    text-decoration: none;
    color: unset;

    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}


.burger {
    display: none;
    z-index: 10;
}

.burger div {
    height: 3px;
    width: 26px;
    margin: 5px;

    background-color: var(--seconday-color);

    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
}

@keyframes navLinkFade {
    from {
        opacity: 0;

        transform: translateX(50px);
        -webkit-transform: translateX(50px);
        -moz-transform: translateX(50px);
        -o-transform: translateX(50px);
        -ms-transform: translateX(50px);
    }

    to {
        opacity: 1;

        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
    }
}


.wrapper {
    transition: filter 0.4s;
    -webkit-transition: filter 0.4s;
    -moz-transition: filter 0.4s;
    -o-transition: filter 0.4s;
    -ms-transition: filter 0.4s;
}

section {
    padding-left: 15%;
    padding-right: 15%;
}

.hero-section {
    height: 100vh;

    background-image: var(--hero-image);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    line-height: 1;
}

.hero p {
    font-size: 2rem;
    color: var(--seconday-color);
}

.hero .greeting {
    margin-bottom: -10px;
}

.hero .name {
    text-align: center;
    font-size: 5rem;
    color: var(--primary-color);
    padding: 0 3rem;
}

.hero .title {
    text-align: end;
}

.aboutme-section {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.aboutme-section .block {
    height: 200px;
    width: 5%;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
}


.aboutme-section p {
    max-width: 60ch;
    padding-bottom: 0.7em;
    text-align: justify;
}

.aboutme-section a {
    color: var(--primary-color);
}

.aboutme-section a:hover {
    color: unset;
}

/*? for photo gallery */

.image-grid {
    --gap: 1rem;
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

.back-to-top {
    text-decoration: none;
    transform: scale(2) rotate(-90deg);

    position: fixed;
    bottom: 50px;
    right: 5%;
    background-color: var(--bg-color);

    padding-top: 0em;
    padding-bottom: 0.13em;
    padding-left: 0.24em;
    padding-right: 0.24em;

    border-radius: 1rem;

    color: var(--seconday-color);
    cursor: pointer;
}

.back-to-top:active {
    color: var(--primary-color);
}



.projects-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 4em;
}

.projects-section h1 {
    margin-bottom: 0.4em;
}

.projects-section .sub {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}

.projects-section .card {
    padding: 0.5em;
    border-radius: 0.6rem;
    box-shadow: var(--boxshadow-one);
}

.projects-section .card:hover {
    transform: scale(1.001);
    box-shadow: var(--boxshadow-two);
}

.projects-section .card img {
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    width: 100%;
}

.projects-section .card a {
    text-decoration: none;
    color: unset;
}

.projects-section .card .anchor {
    text-decoration: underline;
    color: var(--primary-color);
    transition: 0.3s;
}

.projects-section .card .anchor:hover {
    color: var(--seconday-color);
}

.projects-section .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects-section .heading svg {
    width: 25px;
    fill: var(--seconday-color);
}


.projects-section .info {
    padding-top: 1em;
    
}

.projects-section small {
    cursor: pointer;
    user-select: none;
}

.footer-section {
    height: 100vh;
    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--footer-color);
}

.footer-section h1 {
    font-size: 3rem;
}

.footer-section p {
    font-size: 1.2rem;
    padding-left: 0.4em;
    max-width: 40ch;
}

.footer-section form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    min-width: 50%;
}

.footer-section form button {
    cursor: pointer;
    padding: 0.5em 1.5em;
    border: none;

    font-weight: bold;
    border-radius: 0.3em;
    align-self: flex-end;

    border: 2px solid var(--seconday-color);
    color: var(--seconday-color);
    background-color: unset;
}

.footer-section form button:hover {
    border: 2px solid transparent;
    background-color: var(--seconday-color);
    color: var(--button-color);
}

.footer-section form input,
textarea {
    border: 1px solid transparent;
    padding: 1em;
    border-radius: 0.3em;
    resize: none;
    overflow: auto;
}

.footer-section form input:focus {
    outline: none;
    border: 1px solid var(--seconday-color);
}

.footer-section form textarea:focus {
    outline: none;
    border: 1px solid var(--seconday-color);
}


.footer-section .links {
    width: 40%;
}

.footer-section .links ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.footer-section svg {
    width: 40px;
    fill: var(--tertiary-color);
    transition: all 0.4s;
}

.footer-section ul li a:hover svg {
    fill: var(--secondary-color);
}




@media only screen and (max-width: 992px) {

    /* * may not need below code becuase after change from transform translate there is no horizontal scrolling */
    body {
        overflow-x: hidden;
    } 

    nav {
        justify-content: space-between;
    }


    .burger {
        display: block;
        cursor: pointer;
    }

    .nav-links {
        height: 100vh;
        min-width: 100%;
        margin: 0;
        padding: 0;
        padding-bottom: 1rem;

        position: absolute;
        right: -100%;
        top: 0vh;

        background-color: var(--navslide-color);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;


        transition: 0.8s ease-in-out;
        -webkit-transition: 0.8s ease-in-out;
        -moz-transition: 0.8s ease-in-out;
        -o-transition: 0.8s ease-in-out;
        -ms-transition: 0.8s ease-in-out;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li::after {
        content: none;
    }

    .nav-active {
        right: 0%;
    }

    .burger-close .line-1 {
        transform: translateY(8px) rotate(-45deg);
        -webkit-transform: translateY(8px) rotate(-45deg);
        -moz-transform: translateY(8px) rotate(-45deg);
        -o-transform: translateY(8px) rotate(-45deg);
        -ms-transform: translateY(8px) rotate(-45deg);
    }

    .burger-close .line-2 {
        opacity: 0;
    }

    .burger-close .line-3 {
        transform: translateY(-8px) rotate(45deg);
        -webkit-transform: translateY(-8px) rotate(45deg);
        -moz-transform: translateY(-8px) rotate(45deg);
        -o-transform: translateY(-8px) rotate(45deg);
        -ms-transform: translateY(-8px) rotate(45deg);
    }


    .wrapper-blur {
        height: 100vh;
        width: 100%;
        filter: blur(2px);
    }

    section {
        padding-left: 1em;
        padding-right: 1em;
    }

    .hero p {
        font-size: 1.4em;
    }

    .hero .greeting {
        padding-right: 9em;
        margin-bottom: -10px;
    }

    .hero .name {
        font-size: 4.5em;
        padding: 0;
    }

    .hero .title {
        padding-left: 9em;
    }

    .aboutme-section .block {
        display: none;
    }

    /*? for photo gallery */

    .image-grid {
        --num-cols: 1;
        --row-height: 200px;
    }
    .image-grid-col-2 {
        grid-column: span 1;
    }
    
    .image-grid-row-2 {
        grid-row: span 2;
    }

    .projects-section .sub {
        grid-template-columns: 1fr;
    }

    .footer-section form {
        min-width: 60%;
    }

    .footer-section .links {
        width: 50%;
    }

    .back-to-top {
        bottom: 30px;
        right: 9%;
    }

}

@media only screen and (max-width: 400px) {

    .hero p {
        font-size: 5.8vw;
    }

    .hero .greeting {
        padding-right: 9em;
        margin-bottom: -10px;
    }

    .hero .name {
        font-size: 20vw;
    }

    .hero .title {
        padding-left: 9em;
    }

    .footer-section form {
        min-width: 100%;
    }

    .footer-section .links {
        width: 70%;
    }

}

